save-exact=true

# fixa a versão dos projetos - elas não ficam com aquele acento
# circunflexo antes da versão
# interessante pra usar bots como github renovate pra checar versões
# e ver se devemos atualizar alguma dependencia

